/*Create variables to be used, so I dont need change repetitive attribuits*/
:root{
    --dark-back-c:rgb(11,11,26);
    --light-back-c:rgb(27,27,59);
    --btn-color:#eb1a5c;
    --white-color:rgb(226, 226, 226);
    --border-r:30px;
}
/*Universal selector*/
*{
    padding:0;
    margin:0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-sizing: border-box;
}
body{
    margin:0;
}
/**/
main{
    width: 100%;
    height: 100vh;
    background: var(--dark-back-c);
}
/**/

nav {
    justify-content: space-between;
    display:flex;
    align-items: center;
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;

}
/**/
nav ul li{
    display:inline-block;/*to display the list in line*/
    list-style-type: none;
    letter-spacing:1px;
    padding:10px 20px;
}

nav ul li a{
    color:var(--white-color);
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;/*to remove the line under the words*/

}

.logo{
    color:var(--white-color);
    font-size:175%; /*Need to check if the font will get smaller as I shurink the page*/
    letter-spacing:1px;
}

.button {
    background-color: var(--btn-color);
    color: var(--white-color);
    border-radius: var(--border-r);
    padding: 7px 12px;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
}
/*---------------------------------------------------------------------------------*/

.my-name{
    position:absolute;
    top: 50%;
    left:10%;
}

h2, h3 {
    color:var(--white-color);
    margin: 15px 0px;
    font-size: 35px; /*check if i need to separete the font size*/

}

form{
    width: 350px;/*need to check why it is not changing*/
    position:relative;
    border: 5px solid white;/*need to be removed just checking the boarder around nav*/
}

.more-info form input:first-child{
    width:100%;
    border:3px solid var(--btn-color);
    border-radius: var(--border-r);
    padding:0px 5px 0px 5px;
}

.more-info form input:last-child{
    display: inline-block;
    width: 100%;
    border-radius: var(--border-r);
    background-color: var(--btn-color);
    color:var(--white-color);

}
/*----------------------------------- End of the main page--------------------------------*/
#about-me{
    width: 100%;
    background-color: var(--light-back-c);
    border: 5px solid white;/*need to remove, just checking the border*/
}

.title-am {
    display: flex;
    text-align: center;/*need to check with one of the TA*/
    padding: 10px 10px 20px;
    padding-left: 40%;
    color: var(--white-color);
    border: 5px solid green; /*need to remove, just checking the border*/
    font-size: 150%;

}

.body-am{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0% 5% 5% 5%;
    /*
    width:1000px;
    max-width: 95%;
    */
}

#about-me img{
    height:auto;
    width:430px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    border:1px solid var(--btn-color);
    margin:5px;
}

.about-descr{
    width: 500px;
}

.about-descr h3{
    color:var(--white-color);
    text-transform: capitalize;
}

.about-descr p{
    color: var(--white-color);
    letter-spacing: 1px;

}
/*----------------------End of the About me------------------------------*/
.work{
    background-color: var(--dark-back-c);
    padding:100px 0px;
    width: 100%;
}

title h2{
    color: var(--white-color);
    text-align: center;
    margin: 25px auto;
    font-size: 80px;
    width: 1100;
    
}

box {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.card {
    
    height:350px;
    width:325px;
    margin:10px;
    text-align: center;
    background-color: #202020;
    position:relative;
    border-radius: var(--border-r);
    padding: 15px 35px;
    overflow: hidden;
    text-align: center;

}

.card i{
    font-size: 50px;
    display:block;
    text-align: center;
    margin:25px 0px;
    color: var(--btn-color);
}

h5{
    color:var(--white-color);
    font-size: 25px;
    margin-bottom: 15px;
}

.in-box p{
    color:var(--white-color);
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 27px;
}

.card .button{
    padding: 9px 22px;
}

