/*Create variables to be used, so I dont need change repetitive attribuits*/
:root{
    --dark-back-c:rgb(11,11,26);
    --light-back-c:rgb(27,27,59);
    --btn-color:#eb1a5c;
    --white-color:rgb(226, 226, 226);
    --border-r:30px;
}
/*Universal selector*/
*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    padding:0;
    margin:0;
    
    scroll-behavior: smooth;
}

/**/
main{
    width: 100%;
    height: 100vh;
    margin-top: 95px;
    background: var(--dark-back-c);
    display:flex;
    justify-content: space-around;
    align-items: center;
}
/*Added fixed position to the marding*/
nav {
    justify-content: space-between;
    background-color: var(--dark-back-c);
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1; /*Applied z-index to remove the transparency from the the header*/
    
}
/**/
nav ul li{
    display:inline-block;/*to display the list in line*/
    list-style-type: none;
    letter-spacing:1px;
    padding:10px 20px;
    
}

nav ul li a{
    color:var(--white-color);
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;/*to remove the line under the words*/
}

nav ul li a:hover{
    color:var(--btn-color);
    transition: .5s;
    transform:scale(1.1);
}


.logo{
    color:var(--white-color);
    font-size:175%; /*Need to check if the font will get smaller as I shurink the page*/
    letter-spacing:1px;
}

.button {
    background-color: var(--btn-color);
    color: var(--white-color);
    border-radius: var(--border-r);
    padding: 7px 12px;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
}
/*---------------------------------------------------------------------------------*/


.change-color:hover{
    color:var(--btn-color);
    transition: .5s;
}


h2, h3 {
    color:var(--white-color);
    margin: 15px 0px;
    font-size: 35px; /*check if i need to separete the font size*/
}

.picture-main img{
    height: 500px;
    width: auto;
    border-radius: 75px;
}


/*----------------------------------- End of the main page--------------------------------*/
.about-me{
    width: 100%;
    background-color: var(--light-back-c);
    padding:60px 0px;
    border: 5px solid transparent;/*need to remove, just checking the border*/

}

.title-am {
    display: flex;
    text-align: center;/*need to check with one of the TA*/
    padding: 10px 10px 20px;
    color: var(--white-color);
    font-size: 150%; 
}

.title-am h1{
    text-align: center;
    margin: 25px auto;
    font-size: 50px;
}

.body-am{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom:5% ;
    margin-left: 2;
    
}

.about-me img{
    height:auto;
    width:430px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    border:1px solid transparent;
    margin:5px;
}

.about-descr{
    width: 500px;
}

.about-descr h3{
    color:var(--white-color);
    text-transform: capitalize;
}

.about-descr p{
    color: var(--white-color);
    letter-spacing: 1.5px;

}
/*----------------------End of the About me------------------------------*/
.work{
    background-color: var(--dark-back-c);
    padding:100px 0px;
    width: 100%;
}

.title h2{
    color: var(--white-color);
    text-align: center;
    margin: 25px auto;
    font-size: 50px;
    width: 1100;
    
}

.box {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    border: 2px solid transparent;
}

.card {
    
    height:350px;
    width:325px;
    margin:10px;
    text-align: center;
    background-color: #202020;
    position:relative;
    border-radius: var(--border-r);
    padding: 15px 35px;
    overflow: hidden;
    text-align: center;

}

.card i{
    font-size: 50px;
    display:block;
    text-align: center;
    margin:25px 0px;
    color: var(--btn-color);
}

h5{
    color:var(--white-color);
    font-size: 25px;
    margin-bottom: 15px;
}

.in-box p{
    color:var(--white-color);
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 25px;
}

.card .button{
    padding: 9px 22px;
    color: var(--white-color);
    font-weight: bold;
    border-radius: var(--border-r);

}

/* --------------------contact and social------------------------------------*/
.contact-info{
    background-color: var(--light-back-c);
    width:100%;
    height:400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-info h2{
    color: var(--white-color);
    text-align: center;
    margin: 25px auto;
    font-size: 50px;
}

.contact-info p{
    color:white;
    font-size: 30px;
    margin-bottom: 25px;
}

.link-social {
    display:flex;
}
 .link-social a{
    color:var(--white-color);
    font-size: 40px;
    text-decoration: none;
    width: 70px;
    height: 70px;
    background-color: var(--btn-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px

 }
/*------------------------- footer--------------------*/

footer{
    height: 50px;
    width: 100%;
    background-color: var(--dark-back-c);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

footer p{
    color: var(--white-color);
}


/*-- ##########################     Gallery   ############################## --*/
ul#port-photos {
	width:1100px;
	margin:0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
    flex-wrap: wrap;
}

ul#port-photos li {
	float:left;
	width:430px;
	height:215px;
	margin:10px;
    margin-right: 25px;
	border: 2px solid var(--white-color);
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	transition: all 0.3s ease-in;
}

ul#port-photos li#pic01 {
    width:900px;
	height:auto;
}

ul#port-photos li span {
    font-size: 32px;
	opacity:1;
	color: #ffffff;
	text-shadow:1px 1px 1px #000000;
	background-color: rgba(0,0,0,1);
	line-height:370px;
	
}

ul#port-photos li:hover {
	transform:scale(1.1);
	
}

ul#port-photos li:hover span{
	opacity:1;
}

ul#port-photos li#pic01 {
	background: url('../images/google-glass.png') no-repeat;
	background-position:50% 50%;
	/*background-size: 400px 400px;*/
	background-color:#ffffff;
}

ul#port-photos li#pic01:hover {
	background-position:0px 0px;
	background-size:100%;
}

ul#port-photos li#pic02 {
	background: url('../images/seo.png') no-repeat;
	background-position:50% 50%;
	/*background-size: 400px 400px;*/
	background-color:#ffffff;
}
ul#port-photos li#pic02:hover {
	background-position:0px 0px;
	background-size:100%;
}

ul#port-photos li#pic03 {
	background: url('../images/snippet-cheatsheet.png') no-repeat;
	background-position:50% 50%;
	/*background-size: 400px 400px;*/
	background-color:#ffffff;
}
ul#port-photos li#pic03:hover {
	background-position:0px 0px;
	background-size:100%;
}
/*-- ############################################################################## --*/  

@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        margin-top: 175px;
    }

    .about-me img{
        height:auto;
        width:350px;
    }

    ul#port-photos li span {
        font-size: 16px;
        line-height:130px;
    }

    ul#port-photos li#pic01 {
        width:315px;
        height:auto;
    }

    ul#port-photos li {
        width:230px;
	    height:115px;
    }


  }
  